.login-container {

  width: 300px;
  margin: auto;
  background: #161b22;
  padding: 30px;
  border-radius: 10px;

}

.login-container input {

  width: 100%;
  padding: 12px;
  margin-top: 10px;

}

.login-container button {

  width: 100%;
  padding: 12px;
  margin-top: 20px;
  cursor: pointer;

}